<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/home">Tasktracker</a>
                    <ul class="nav">
                        <li><a href="/home">Home</a></li>
                        {% if user.is_authenticated %} 
                            <li><a href="/profile">Profile</a></li>
                        {% endif %}
                        <li><a href="/userlist">Users</a></li>
                    </ul>
                    <form class="navbar-form pull-right">
                        {% if user.is_authenticated %}
                            <a href={{user.get_absolute_url}}>{{user.username}}</a>
                            <a href="/user_logout/">
                                <p class="btn btn-small">Logout</p>
                            </a>
                        {% else %}
                            <a href="/login/">
                                <p class="btn btn-small">Login</p>
                            </a>
                            <a href="/register/">
                                <p class="btn btn-small">Register</p>
                            </a>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span10">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="span2">
                    {% block side_info %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>
